
#navMenu {
  margin:0;
	padding:0;
}

#navMenu ul {
	margin:0;
	padding:0;
}

#navMenu li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	position:relative;
}

#navMenu ul li a {
	text-align:center;
	text-decoration:none;
	height:30px;
	width:150px;
}
